* {
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
.nav {
  background-color: #E16B6B;
  height: 100px;
}
.navcontent {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.logo h1 {
  color: #804545 ;
  font-size: 50px;
}
.navbut ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}
.navbut ul li {
  margin-right: 50px;
  padding: 20px;
}
.navbut ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.main {
  height: 100vh;
  width: 100vw;
}
.submain {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.contents{
  flex: 1;
}
.main {
  background-color: #804545;
}
img {
  position: absolute;
  top: 300px;
  left: 950px   ;
  width: 400px;
  border-radius: 50%;
}
.two {
  padding: 200px;
}
.one {
  padding-top: 200px;
  padding-left: 200px;
  margin-top: -40px;
}
.one h1 {
  text-decoration: none;
  color: black;
  font-size: 50px;
  margin-top: 50px;
}
.one h2{
  font-size: 70px;
}
.one h1:nth-child(1){
  margin-left: -80px;
}
.one h1:nth-child(3){
  margin-left: 100px;
}
.mdi--github {
  display: inline-block;
  width: 50PX;
  height: 50PX;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mdi--gmail {
  display: inline-block;
  width: 50PX;
  height: 50PX;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 18h-2V9.25L12 13L6 9.25V18H4V6h1.2l6.8 4.25L18.8 6H20m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ri--instagram-fill {
  display: inline-block;
  width: 50PX;
  height: 50PX;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13.028 2c1.125.003 1.696.009 2.189.023l.194.007c.224.008.445.018.712.03c1.064.05 1.79.218 2.427.465c.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.012.266.022.487.03.712l.006.194c.015.492.021 1.063.023 2.188l.001.746v1.31a78.831 78.831 0 0 1-.023 2.188l-.006.194c-.008.225-.018.446-.03.712c-.05 1.065-.22 1.79-.466 2.428a4.883 4.883 0 0 1-1.153 1.772a4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465a72.11 72.11 0 0 1-.712.03l-.194.006c-.493.014-1.064.021-2.189.023l-.746.001h-1.309a78.43 78.43 0 0 1-2.189-.023l-.194-.006a63.036 63.036 0 0 1-.712-.031c-1.064-.05-1.79-.218-2.428-.465a4.889 4.889 0 0 1-1.771-1.153a4.904 4.904 0 0 1-1.154-1.772c-.247-.637-.415-1.363-.465-2.428a74.1 74.1 0 0 1-.03-.712l-.005-.194A79.047 79.047 0 0 1 2 13.028v-2.056a78.82 78.82 0 0 1 .022-2.188l.007-.194c.008-.225.018-.446.03-.712c.05-1.065.218-1.79.465-2.428A4.88 4.88 0 0 1 3.68 3.678a4.897 4.897 0 0 1 1.77-1.153c.638-.247 1.363-.415 2.428-.465c.266-.012.488-.022.712-.03l.194-.006a79 79 0 0 1 2.188-.023zM12 7a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 2a3 3 0 1 1 .001 6a3 3 0 0 1 0-6m5.25-3.5a1.25 1.25 0 0 0 0 2.5a1.25 1.25 0 0 0 0-2.5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ic--outline-facebook {
  display: inline-block;
  width: 50PX;
  height: 50PX;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.one {
 padding-top: 200PX;
 padding-left: 200PX;
 margin-left: -40px;
}
.one h1 {
  text-decoration: none;
  color: black;
  font-size: 50px;
  margin-right: 50px;
}
.one h1:nth-child(1){
  margin-left: -80px;
}
.one h1:nth-child(3){
  margin-left: 100px;
}
.fluent-emoji-high-contrast--woman-artist {
  display: inline-block;
  width: 50px;
  height: 50px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='%23000'%3E%3Cpath d='M20.105 8.919a.25.25 0 0 1-.14-.04l-.018-.01c-.12-.058-.803-.398-1.562-.26a.273.273 0 0 1-.32-.22c-.03-.15.07-.29.22-.32c1.03-.19 1.91.31 1.95.34c.13.08.18.24.1.38c-.04.08-.13.13-.23.13m-7.26 0a.27.27 0 0 1-.24-.14c-.08-.13-.03-.3.1-.37l.008-.005c.101-.053.961-.508 1.942-.335c.15.03.25.17.22.32c-.02.15-.17.25-.32.22c-.82-.15-1.57.27-1.57.28c-.05.02-.09.03-.14.03m.96.519c.258 0 .494.08.703.207c.452.174.791.568.887 1.053a.23.23 0 0 1-.23.28h-.09c.03-.08.04-.16.04-.24c0-.51-.41-.92-.92-.92s-.92.41-.92.92c0 .08.01.17.03.24h-.43c-.19 0-.32-.17-.28-.35a1.54 1.54 0 0 1 .04-.132l-.03-.027a.429.429 0 0 1 .03-.67c.33-.23.76-.36 1.17-.36m4.685.199c.207-.123.442-.2.695-.2c.41 0 .84.13 1.17.36c.22.16.24.49.03.67l-.039.035c.015.041.028.083.039.126c.04.18-.09.35-.28.35h-.43c.02-.07.03-.16.03-.24c0-.51-.41-.92-.92-.92s-.92.41-.91.92c0 .08.01.16.03.24h-.09a.23.23 0 0 1-.23-.28c.097-.493.444-.89.905-1.06'/%3E%3Cpath d='M14.725 10.739c0-.29-.23-.52-.52-.52a.526.526 0 0 0-.21.043a.16.16 0 1 1-.238.211a.522.522 0 0 0-.012.506h.93c.03-.07.05-.16.05-.24m4.06-.52a.526.526 0 0 0-.204.04a.16.16 0 0 1-.106.28a.16.16 0 0 1-.134-.073a.522.522 0 0 0-.076.273c0 .08.02.17.05.24h.93a.516.516 0 0 0-.46-.76m-3.77 3.259c.43.22.93.35 1.46.35c.54 0 1.04-.13 1.46-.35c.15-.08.3.08.21.22a1.988 1.988 0 0 1-3.34 0c-.09-.13.07-.3.21-.22m1.08-2.969l-.52 1.68c-.11.35.15.69.51.69h.77c.36 0 .62-.35.51-.69l-.52-1.68c-.11-.38-.63-.38-.75 0m-6.86 13.046a1.24 1.24 0 1 1-2.48 0a1.24 1.24 0 0 1 2.48 0m1.62 4.24a1.24 1.24 0 1 0 0-2.48a1.24 1.24 0 0 0 0 2.48m-3.86.89a1.24 1.24 0 1 0 0-2.48a1.24 1.24 0 0 0 0 2.48'/%3E%3Cpath d='M21.776 18.007a1 1 0 0 1-.43-.565a3.243 3.243 0 0 1-.356.027a2.814 2.814 0 0 1-2.378 2.609c.316.432.503.965.503 1.542v1.67a2.623 2.623 0 0 1-2.62-2.616a2.623 2.623 0 0 1-2.62 2.616v-1.67c0-.577.187-1.11.503-1.542a2.814 2.814 0 0 1-2.379-2.628a3.158 3.158 0 0 1-.24-.036a1 1 0 0 1-.425.519a10.06 10.06 0 0 0-2.88 2.621a5.223 5.223 0 0 1 4.14 3.375L14.444 29h8.636a1.28 1.28 0 0 1 .145-.393a1.238 1.238 0 0 1-.002-1.244a1.238 1.238 0 0 1 .002-1.244a1.224 1.224 0 0 1-.169-.664c.018-.653.535-1.147 1.143-1.209a.501.501 0 0 1 .127-.016h.52a13.706 13.706 0 0 1 .52-5.119a1.996 1.996 0 0 1-.643-2.56c.631-1.323 1.837-1.996 3.215-2.086h.033c.181 0 .369.057.535.2l.01.008a.789.789 0 0 1 .172.945l-.005.011l-.006.01c-.252.448-.331.875-.217 1.423l.011.05v.013a1.996 1.996 0 0 1-.818 1.976a13.96 13.96 0 0 1 .549 3.128a2.004 2.004 0 0 1 1.294 1.871v5.01a1.87 1.87 0 0 1-1.792 1.868a1.001 1.001 0 0 1-.208.022H4.265a1 1 0 0 1-.945-.674l-.98-2.84l-.001-.001c-1.194-3.485.906-7.249 4.34-7.89A12.063 12.063 0 0 1 9.163 17a4.192 4.192 0 0 1-1.017-2.741c0-.574.109-1.134.328-1.646a4.398 4.398 0 0 1-.328-1.654c0-.874.262-1.68.698-2.36l.008-.011c.064-.098.132-.196.194-.285l.003-.005a7.88 7.88 0 0 0 .32-.485A2.276 2.276 0 0 1 7.995 5.72c0-.798.412-1.538 1.111-1.95l.001-.001l.263-.156A17.991 17.991 0 0 1 18.725 1a5.268 5.268 0 0 1 5.27 5.27c0 .337-.098.65-.263.914c.002.059.003.117.003.176v.026c0 .043.015.145.111.335c.097.19.231.387.402.633l.002.003l.155.225c.46.684.72 1.508.72 2.378a4.26 4.26 0 0 1-.323 1.651a4.322 4.322 0 0 1 .303 2.155a4.041 4.041 0 0 0-1.346 1.599a2.492 2.492 0 0 0 .52 2.963c-.063.23-.119.46-.17.69a10.055 10.055 0 0 0-2.333-2.011M13.416 7a2.716 2.716 0 0 1-.829.598a.798.798 0 0 1-.144.063c-.141.08-.478.336-.501 1.009a.5.5 0 0 1-.366.464c-.484.135-.857.601-.857 1.173c0 .608.42 1.094.947 1.194a.5.5 0 0 1 .406.472v.017c.112 2.677 2.076 4.44 4.477 4.44c2.39 0 4.365-1.763 4.476-4.44v-.019a.5.5 0 0 1 .404-.471c.523-.103.94-.588.94-1.193c0-.574-.377-1.041-.864-1.174a.5.5 0 0 1-.366-.44c-.04-.467-.213-.647-.329-.726a.681.681 0 0 0-.327-.113H17.28A4.262 4.262 0 0 1 14.723 7zm3.16 11.57c.922 0 1.705-.634 1.932-1.488a5.601 5.601 0 0 1-1.96.348a5.62 5.62 0 0 1-1.9-.325a2.008 2.008 0 0 0 1.927 1.465M4.977 29h8.4l-1.723-4.729a4.217 4.217 0 0 0-4.243-2.761a.933.933 0 0 1-.055.007c-2.317.226-3.994 2.784-3.126 5.32zm22.517-3.411v-.359h-3.07a.507.507 0 0 1-.1.01c-.157 0-.267.122-.27.242v.006a.251.251 0 0 0 .117.216a.5.5 0 0 1-.004.835a.245.245 0 0 0-.113.201c0 .09.043.157.103.195a.5.5 0 0 1 .01.844a.245.245 0 0 0-.113.201c0 .09.043.157.103.195a.5.5 0 0 1 .037.825h3.1c.064-.013.131-.02.2-.02v-3.385zm-.316-3.625a13.126 13.126 0 0 0-.6-2.951l-.069-.212l-.071.22a13.088 13.088 0 0 0-.602 2.943zm-1.557-4.976l-.004.01l-.005.008a.998.998 0 0 0 .529 1.392l.365.14l.363-.144a1 1 0 0 0 .438-.34a.79.79 0 0 1-.196.02c-.44 0-.78-.38-.78-.82c0-.3-.24-.54-.54-.54h-.022a2.848 2.848 0 0 0-.148.274'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.material-symbols--artist {
  display: inline-block;
  width: 50px;
  height: 50px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17.5 20q-1.05 0-1.775-.725T15 17.5q0-1.05.725-1.775T17.5 15q.2 0 .45.038t.55.162V10H22v2h-2v5.5q0 1.05-.725 1.775T17.5 20M11 12q-1.65 0-2.825-1.175T7 8q0-1.65 1.175-2.825T11 4q1.65 0 2.825 1.175T15 8q0 1.65-1.175 2.825T11 12m-8 8v-2.8q0-.875.438-1.575T4.6 14.55q1.55-.775 3.15-1.162T11 13q1.05 0 2.088.163t2.087.487q-1.65 1-2.05 2.863t.65 3.487z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.fluent--communication-person-20-filled {
  display: inline-block;
  width: 50px;
  height: 50px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M10 4.5a6.5 6.5 0 0 0-4.601 11.091a.75.75 0 1 1-1.062 1.06a8 8 0 1 1 13.632-6.355a3.004 3.004 0 0 0-1.756-1.21A6.503 6.503 0 0 0 10 4.5m4.637 4.626A5.002 5.002 0 0 0 5 11c0 1.377.558 2.626 1.458 3.53a.75.75 0 0 0 1.063-1.06a3.5 3.5 0 1 1 5.811-3.544a3 3 0 0 1 1.305-.8M8 11a2 2 0 1 1 4 0a2 2 0 0 1-4 0m9.5 1a2 2 0 1 1-4 0a2 2 0 0 1 4 0m1.5 4.5c0 1.245-1 2.5-3.5 2.5S12 17.75 12 16.5a1.5 1.5 0 0 1 1.5-1.5h4a1.5 1.5 0 0 1 1.5 1.5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.flowbite--html-solid {
  display: inline-block;
  width: 50px;
  height: 50px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m3 2l1.6 17.8L12 22l7.5-2.2L21 2zm14 6H9l.2 2H17l-.6 6.6l-4.2 1.4l-4.3-1.4l-.3-3h2l.2 1.4l2.4.8l2.3-.7l.3-3H7.4L7 6h10.4z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.content h1{
  text-align: center;
  font-size: 40px;
}

.one a {
  text-decoration: none;
  color: black;
  font-size: 50px;
}
.one span{
  margin-right: 50px;
}

.ic--outline-facebook {
  display: inline-block;
  width: 50PX;
  height: 50PX;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ri--instagram-fill {
  display: inline-block;
  width: 50PX;
  height: 50PX;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13.028 2c1.125.003 1.696.009 2.189.023l.194.007c.224.008.445.018.712.03c1.064.05 1.79.218 2.427.465c.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.012.266.022.487.03.712l.006.194c.015.492.021 1.063.023 2.188l.001.746v1.31a78.831 78.831 0 0 1-.023 2.188l-.006.194c-.008.225-.018.446-.03.712c-.05 1.065-.22 1.79-.466 2.428a4.883 4.883 0 0 1-1.153 1.772a4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465a72.11 72.11 0 0 1-.712.03l-.194.006c-.493.014-1.064.021-2.189.023l-.746.001h-1.309a78.43 78.43 0 0 1-2.189-.023l-.194-.006a63.036 63.036 0 0 1-.712-.031c-1.064-.05-1.79-.218-2.428-.465a4.889 4.889 0 0 1-1.771-1.153a4.904 4.904 0 0 1-1.154-1.772c-.247-.637-.415-1.363-.465-2.428a74.1 74.1 0 0 1-.03-.712l-.005-.194A79.047 79.047 0 0 1 2 13.028v-2.056a78.82 78.82 0 0 1 .022-2.188l.007-.194c.008-.225.018-.446.03-.712c.05-1.065.218-1.79.465-2.428A4.88 4.88 0 0 1 3.68 3.678a4.897 4.897 0 0 1 1.77-1.153c.638-.247 1.363-.415 2.428-.465c.266-.012.488-.022.712-.03l.194-.006a79 79 0 0 1 2.188-.023zM12 7a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 2a3 3 0 1 1 .001 6a3 3 0 0 1 0-6m5.25-3.5a1.25 1.25 0 0 0 0 2.5a1.25 1.25 0 0 0 0-2.5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mdi--gmail {
  display: inline-block;
  width: 50px;
  height: 50px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 18h-2V9.25L12 13L6 9.25V18H4V6h1.2l6.8 4.25L18.8 6H20m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.solar--phone-bold {
  display: inline-block;
  width: 50px;
  height: 50px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m16.556 12.906l-.455.453s-1.083 1.076-4.038-1.862s-1.872-4.014-1.872-4.014l.286-.286c.707-.702.774-1.83.157-2.654L9.374 2.86C8.61 1.84 7.135 1.705 6.26 2.575l-1.57 1.56c-.433.432-.723.99-.688 1.61c.09 1.587.808 5 4.812 8.982c4.247 4.222 8.232 4.39 9.861 4.238c.516-.048.964-.31 1.325-.67l1.42-1.412c.96-.953.69-2.588-.538-3.255l-1.91-1.039c-.806-.437-1.787-.309-2.417.317'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ones h1{
  margin-top: 50px;
}
@media (max-width:1215px){
  .contents img{
    width: 250px;
    height: 250px;
  }
  .contents{
    padding-right: 100px;
    margin:100px
  }
  .logo h1{
    font-size: 35px;
  }
  .content h2{
    font-size: 50px;
  }
  .content h1{
    font-size: 40px;
    padding-right: 100px;
  }
  .navbut ul{
    padding-right: 100px;
  }
  .navbut ul li a{
    font-size: 20px;
    padding:10px;
    margin: 0px;
  }
  .mdi--github {
    display: inline-block;
    width: 40PX;
    height: 40PX;
  }
  .mdi--gmail {
    display: inline-block;
    width: 40PX;
    height: 40PX;
    
  }
  .ri--instagram-fill {
    display: inline-block;
    width: 40PX;
    height: 40PX;
  
  }
  .ic--outline-facebook {
    display: inline-block;
    width: 40PX;
    height: 40PX;
  }
}
@media (max-width:475px){
  .logo h1{
    font-size: 20px;    
  }
  .contents img{
    width: 100px;
    height: 100px;
    margin-left: -580px;
  }
  .nav{
    height: 80px;
  }
  .navbut ul li a{
    font-size: 10px;
    padding:-20px;
    margin-left: -100px;
  }
  .content h1{
    font-size: 20px;
  }
  .one h1:nth-child(3){
    margin-left: 0px;
  }
  .one{
    padding: 150px;
  }
  .icon{
    width: 1em;
    height: 1em;
  }
  .one a{
    font-size: 13px;;
  }
  .fluent-emoji-high-contrast--woman-artist {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='%23000'%3E%3Cpath d='M20.105 8.919a.25.25 0 0 1-.14-.04l-.018-.01c-.12-.058-.803-.398-1.562-.26a.273.273 0 0 1-.32-.22c-.03-.15.07-.29.22-.32c1.03-.19 1.91.31 1.95.34c.13.08.18.24.1.38c-.04.08-.13.13-.23.13m-7.26 0a.27.27 0 0 1-.24-.14c-.08-.13-.03-.3.1-.37l.008-.005c.101-.053.961-.508 1.942-.335c.15.03.25.17.22.32c-.02.15-.17.25-.32.22c-.82-.15-1.57.27-1.57.28c-.05.02-.09.03-.14.03m.96.519c.258 0 .494.08.703.207c.452.174.791.568.887 1.053a.23.23 0 0 1-.23.28h-.09c.03-.08.04-.16.04-.24c0-.51-.41-.92-.92-.92s-.92.41-.92.92c0 .08.01.17.03.24h-.43c-.19 0-.32-.17-.28-.35a1.54 1.54 0 0 1 .04-.132l-.03-.027a.429.429 0 0 1 .03-.67c.33-.23.76-.36 1.17-.36m4.685.199c.207-.123.442-.2.695-.2c.41 0 .84.13 1.17.36c.22.16.24.49.03.67l-.039.035c.015.041.028.083.039.126c.04.18-.09.35-.28.35h-.43c.02-.07.03-.16.03-.24c0-.51-.41-.92-.92-.92s-.92.41-.91.92c0 .08.01.16.03.24h-.09a.23.23 0 0 1-.23-.28c.097-.493.444-.89.905-1.06'/%3E%3Cpath d='M14.725 10.739c0-.29-.23-.52-.52-.52a.526.526 0 0 0-.21.043a.16.16 0 1 1-.238.211a.522.522 0 0 0-.012.506h.93c.03-.07.05-.16.05-.24m4.06-.52a.526.526 0 0 0-.204.04a.16.16 0 0 1-.106.28a.16.16 0 0 1-.134-.073a.522.522 0 0 0-.076.273c0 .08.02.17.05.24h.93a.516.516 0 0 0-.46-.76m-3.77 3.259c.43.22.93.35 1.46.35c.54 0 1.04-.13 1.46-.35c.15-.08.3.08.21.22a1.988 1.988 0 0 1-3.34 0c-.09-.13.07-.3.21-.22m1.08-2.969l-.52 1.68c-.11.35.15.69.51.69h.77c.36 0 .62-.35.51-.69l-.52-1.68c-.11-.38-.63-.38-.75 0m-6.86 13.046a1.24 1.24 0 1 1-2.48 0a1.24 1.24 0 0 1 2.48 0m1.62 4.24a1.24 1.24 0 1 0 0-2.48a1.24 1.24 0 0 0 0 2.48m-3.86.89a1.24 1.24 0 1 0 0-2.48a1.24 1.24 0 0 0 0 2.48'/%3E%3Cpath d='M21.776 18.007a1 1 0 0 1-.43-.565a3.243 3.243 0 0 1-.356.027a2.814 2.814 0 0 1-2.378 2.609c.316.432.503.965.503 1.542v1.67a2.623 2.623 0 0 1-2.62-2.616a2.623 2.623 0 0 1-2.62 2.616v-1.67c0-.577.187-1.11.503-1.542a2.814 2.814 0 0 1-2.379-2.628a3.158 3.158 0 0 1-.24-.036a1 1 0 0 1-.425.519a10.06 10.06 0 0 0-2.88 2.621a5.223 5.223 0 0 1 4.14 3.375L14.444 29h8.636a1.28 1.28 0 0 1 .145-.393a1.238 1.238 0 0 1-.002-1.244a1.238 1.238 0 0 1 .002-1.244a1.224 1.224 0 0 1-.169-.664c.018-.653.535-1.147 1.143-1.209a.501.501 0 0 1 .127-.016h.52a13.706 13.706 0 0 1 .52-5.119a1.996 1.996 0 0 1-.643-2.56c.631-1.323 1.837-1.996 3.215-2.086h.033c.181 0 .369.057.535.2l.01.008a.789.789 0 0 1 .172.945l-.005.011l-.006.01c-.252.448-.331.875-.217 1.423l.011.05v.013a1.996 1.996 0 0 1-.818 1.976a13.96 13.96 0 0 1 .549 3.128a2.004 2.004 0 0 1 1.294 1.871v5.01a1.87 1.87 0 0 1-1.792 1.868a1.001 1.001 0 0 1-.208.022H4.265a1 1 0 0 1-.945-.674l-.98-2.84l-.001-.001c-1.194-3.485.906-7.249 4.34-7.89A12.063 12.063 0 0 1 9.163 17a4.192 4.192 0 0 1-1.017-2.741c0-.574.109-1.134.328-1.646a4.398 4.398 0 0 1-.328-1.654c0-.874.262-1.68.698-2.36l.008-.011c.064-.098.132-.196.194-.285l.003-.005a7.88 7.88 0 0 0 .32-.485A2.276 2.276 0 0 1 7.995 5.72c0-.798.412-1.538 1.111-1.95l.001-.001l.263-.156A17.991 17.991 0 0 1 18.725 1a5.268 5.268 0 0 1 5.27 5.27c0 .337-.098.65-.263.914c.002.059.003.117.003.176v.026c0 .043.015.145.111.335c.097.19.231.387.402.633l.002.003l.155.225c.46.684.72 1.508.72 2.378a4.26 4.26 0 0 1-.323 1.651a4.322 4.322 0 0 1 .303 2.155a4.041 4.041 0 0 0-1.346 1.599a2.492 2.492 0 0 0 .52 2.963c-.063.23-.119.46-.17.69a10.055 10.055 0 0 0-2.333-2.011M13.416 7a2.716 2.716 0 0 1-.829.598a.798.798 0 0 1-.144.063c-.141.08-.478.336-.501 1.009a.5.5 0 0 1-.366.464c-.484.135-.857.601-.857 1.173c0 .608.42 1.094.947 1.194a.5.5 0 0 1 .406.472v.017c.112 2.677 2.076 4.44 4.477 4.44c2.39 0 4.365-1.763 4.476-4.44v-.019a.5.5 0 0 1 .404-.471c.523-.103.94-.588.94-1.193c0-.574-.377-1.041-.864-1.174a.5.5 0 0 1-.366-.44c-.04-.467-.213-.647-.329-.726a.681.681 0 0 0-.327-.113H17.28A4.262 4.262 0 0 1 14.723 7zm3.16 11.57c.922 0 1.705-.634 1.932-1.488a5.601 5.601 0 0 1-1.96.348a5.62 5.62 0 0 1-1.9-.325a2.008 2.008 0 0 0 1.927 1.465M4.977 29h8.4l-1.723-4.729a4.217 4.217 0 0 0-4.243-2.761a.933.933 0 0 1-.055.007c-2.317.226-3.994 2.784-3.126 5.32zm22.517-3.411v-.359h-3.07a.507.507 0 0 1-.1.01c-.157 0-.267.122-.27.242v.006a.251.251 0 0 0 .117.216a.5.5 0 0 1-.004.835a.245.245 0 0 0-.113.201c0 .09.043.157.103.195a.5.5 0 0 1 .01.844a.245.245 0 0 0-.113.201c0 .09.043.157.103.195a.5.5 0 0 1 .037.825h3.1c.064-.013.131-.02.2-.02v-3.385zm-.316-3.625a13.126 13.126 0 0 0-.6-2.951l-.069-.212l-.071.22a13.088 13.088 0 0 0-.602 2.943zm-1.557-4.976l-.004.01l-.005.008a.998.998 0 0 0 .529 1.392l.365.14l.363-.144a1 1 0 0 0 .438-.34a.79.79 0 0 1-.196.02c-.44 0-.78-.38-.78-.82c0-.3-.24-.54-.54-.54h-.022a2.848 2.848 0 0 0-.148.274'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .material-symbols--artist {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17.5 20q-1.05 0-1.775-.725T15 17.5q0-1.05.725-1.775T17.5 15q.2 0 .45.038t.55.162V10H22v2h-2v5.5q0 1.05-.725 1.775T17.5 20M11 12q-1.65 0-2.825-1.175T7 8q0-1.65 1.175-2.825T11 4q1.65 0 2.825 1.175T15 8q0 1.65-1.175 2.825T11 12m-8 8v-2.8q0-.875.438-1.575T4.6 14.55q1.55-.775 3.15-1.162T11 13q1.05 0 2.088.163t2.087.487q-1.65 1-2.05 2.863t.65 3.487z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .fluent--communication-person-20-filled {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M10 4.5a6.5 6.5 0 0 0-4.601 11.091a.75.75 0 1 1-1.062 1.06a8 8 0 1 1 13.632-6.355a3.004 3.004 0 0 0-1.756-1.21A6.503 6.503 0 0 0 10 4.5m4.637 4.626A5.002 5.002 0 0 0 5 11c0 1.377.558 2.626 1.458 3.53a.75.75 0 0 0 1.063-1.06a3.5 3.5 0 1 1 5.811-3.544a3 3 0 0 1 1.305-.8M8 11a2 2 0 1 1 4 0a2 2 0 0 1-4 0m9.5 1a2 2 0 1 1-4 0a2 2 0 0 1 4 0m1.5 4.5c0 1.245-1 2.5-3.5 2.5S12 17.75 12 16.5a1.5 1.5 0 0 1 1.5-1.5h4a1.5 1.5 0 0 1 1.5 1.5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .flowbite--html-solid {
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m3 2l1.6 17.8L12 22l7.5-2.2L21 2zm14 6H9l.2 2H17l-.6 6.6l-4.2 1.4l-4.3-1.4l-.3-3h2l.2 1.4l2.4.8l2.3-.7l.3-3H7.4L7 6h10.4z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .ones h1{
    font-size: 20px;
    justify-content: center;
    padding-left:50px;
    margin-top: 50px;
  }

}
